/*-------   Global Styles  -------*/

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.list-style-none {
    list-style: none;
}

.cursor-pointer {
    cursor: pointer;
}

.overflow-hidden {
    overflow: hidden;
}

.btn {
    background-color: var(--bg-primary-btn);
    padding: 4px;
    color: black;
    border-radius: 4px;
    transition: .3s all;
}

.btn-p-8 {
    padding: 8px;
}

.btn:hover {
    background-color: var(--bg-primary-btn-hover);
}

.m-1 {
    margin: 1em;
}

.mt-1 {
    margin-top: 1em;
}

.mt-2 {
    margin-top: 2em;
}

.mt-7 {
    margin-top: 7em;
}

.pb-2 {
    padding-bottom: 2em;
}

.ml-2 {
    margin-left: 2em;
}

.mr-2 {
    margin-right: 2em;
}

.p-1 {
    padding: 1em;
}

.max-w-300 {
    max-width: 300px;
    min-width: 300px;
}

.w-25 {
    width: 25%;
}

.w-4 {
    width: 40%;
}

.w-5 {
    width: 50%;
}

.h-200 {
    height: 200px;
}

.w-250 {
    width: 250px;
}

.br-5 {
    border-radius: 5px;
}

.text-center {
    text-align: center;
}

.bg-white {
    background-color: #fff;
}

.input-txt {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid lightgray;
}

.input-txt:focus {
    outline: rgb(192, 192, 192);
}

.img-size-contain {
    object-fit: cover;
}

.border-radius-6 {
    border-radius: 6px;
}

.text-align-end {
    text-align: end;
}

/*-------   Header Styles  -------*/
.header { 
    padding: 15px;
    margin: 15px;
    background-color: var(--bg-primary);
    border-radius: 10px;
    position: fixed;
    width: 95%;
    top: 0;
}

.header__li {
    color: var(--color-white);
}

.header__li--space {
margin: 0 10px;
}

.header__title {
    color: var(--color-white);
}

.header__boxinputicon {
    position: relative;
}

.header__iconinput {
    position: absolute;
    right: 0;
    top: 6px;
}

/*-------   Table Styles  -------*/

.table {
    width: 100%;
}

.table__tr {
    margin: 10px;
}


.box__img--scale:hover {
    transition: .5s all;
    transform: scale(1.1);
}