<div class="d-flex flex-justify-center">
    <header class="header d-flex flex-space-between flex-align-center">
        <div class="header__box">
            <a class="text-decoration-none" routerLink="">
                <h1 class="header__title">CoinGeko</h1>
            </a>
        </div>
        <div class="w-40">
            <form >
                <div class="header__boxinputicon">
                    <input class="input-txt" type="text" placeholder="Insert term from search...">
                    <i class="header__iconinput fas fa-search cursor-pointer"></i>
                </div>
    
            </form>
        </div>
        <ul class="header__box d-flex flex-align-center">
            <li class="header__li header__li--space list-style-none cursor-pointer">
                Login Account
            </li>
            <li class="header__li header__li--space list-style-none cursor-pointer">
                Ask frecuenly
            </li>
            <li class="header__li header__li--space list-style-none cursor-pointer btn btn-p-8">
                Create Account
            </li>
        </ul>
    </header>
</div>