/* You can add global styles to this file, and also import other style files */
/*-------   Global Styles  -------*/

* {
    padding: 0;
    margin: 0;
    font-family: monospace;
}

body {
    background-color: rgb(240, 240, 240);
}

:root {
    --bg-primary: rgb(101, 110, 139);
    --bg-primary-btn: rgb(41, 106, 180);
    --bg-primary-btn-hover: rgb(80, 125, 177);
    --color-white: #fff;
}

.container-box { 
    padding: 15px;
    margin: 15px;
    background-color: var(--bg-primary);
    border-radius: 10px;
    position: fixed;
    width: 95%;
    top: 0;
}

.box-radius {
    padding: 15px;
    margin: 15px;
    background-color: var(--bg-primary);
    border-radius: 10px;
    width: 95%;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-space-evenly {
    justify-content: space-evenly;
}

.flex-align-center {
    align-items: center;
}

.flex-align-end {
    align-items: flex-end;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-start {
    justify-content: start;
}

.flex-justify-end {
    justify-content: end;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-direction-column {
    flex-direction: column;
}

.list-style-none {
    list-style: none;
}

.cursor-pointer {
    cursor: pointer;
}

.overflow-hidden {
    overflow: hidden;
}

.btn {
    background-color: var(--bg-primary-btn);
    padding: 4px;
    color: black;
    border-radius: 4px;
    transition: .3s all;
}

.btn-p-8 {
    padding: 8px;
}

.btn:hover {
    background-color: var(--bg-primary-btn-hover);
}

.m-1 {
    margin: 1em;
}

.mt-1 {
    margin-top: 1em;
}

.mt-2 {
    margin-top: 2em;
}

.mt-7 {
    margin-top: 7em;
}

.pb-2 {
    padding-bottom: 2em;
}

.ml-2 {
    margin-left: 2em;
}

.mr-2 {
    margin-right: 2em;
}

.p-0-5 {
    padding: 0.5em;
}

.p-1 {
    padding: 1em;
}

.p-5 {
    padding: 6px;
}

.max-w-300 {
    max-width: 300px;
    min-width: 300px;
}

.max-w-600 {
    max-width: 600px;
    min-width: 600px;
}

.w-33 {
    width: 33%;
}

.w-25 {
    width: 25%;
}

.w-4 {
    width: 4%;
}

.w-80 {
    width: 80%;
}

.w-95 {
    width: 96%;
}

.w-100 {
    width: 100%;
}

.w-40 {
    width: 40%;
}

.w-550 {
    width: 550px;
}

.w-5 {
    width: 50%;
}

.h-150 {
    height: 150px;
}

.h-200 {
    height: 200px;
}

.h-400 {
    height: 400px;
}

.w-250 {
    width: 250px;
}

.br-5 {
    border-radius: 5px;
}

.text-center {
    text-align: center;
}

.bg-white {
    background-color: #fff;
}

.input-txt {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid lightgray;
}

.input-txt:focus {
    outline: rgb(192, 192, 192);
}

.img-size-contain {
    object-fit: cover;
}

.border-radius-6 {
    border-radius: 6px;
}

.border-radius-50 {
    border-radius: 50%;
}

.border-none {
    border: none;
}

.text-align-end {
    text-align: end;
}

.fz-1-5 {
    font-size: 1.5em;
}

.fz-1-2 {
    font-size: 1.2em;
}

.fz-3 {
    font-size: 3em;
}

.fz-16 {
    font-size: 16px;
}

.text-decoration-none {
    text-decoration: none;
}

.text-white {
    color: #fff;
}

.card__product {
    padding: 5px;
    box-shadow: 1px 2px 8px 2px #d5d5d5;
}