<div class="d-flex flex-justify-center">
    <div class="box-radius d-flex">
        <div class="w-33">
            <h4 class="fz-3 text-white">COinGeko</h4>
            <p class="text-white mt-1">Buy and Sell your NFT now Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, quas. Distinctio molestiae ab perspiciatis veniam harum</p>
        </div>
        <div class="w-33 text-center">
            <h5 class="fz-1-5 text-white">Notices</h5>
            <ul class="list-style-none">
                <li>
                    <a class="text-decoration-none" href="#">Link 1</a>
                </li>
                <li>
                    <a class="text-decoration-none" href="#">Link 1</a>
                </li>
                <li>
                    <a class="text-decoration-none" href="#">Link 1</a>
                </li>
            </ul>
        </div>
        <div class="w-33 text-center">
            <h5 class="fz-1-5 text-white">About US</h5>
            <ul class="list-style-none">
                <li>
                    <a class="text-decoration-none" href="#">Link 1</a>
                </li>
                <li>
                    <a class="text-decoration-none" href="#">Link 1</a>
                </li>
                <li>
                    <a class="text-decoration-none" href="#">Link 1</a>
                </li>
            </ul>
        </div>
    </div>
</div>